extends layout

block content
  h1= title
  p Hey, Welcome to Charan Teja's Web-Apps Lab/Assignment-10
  button(type="button", onClick="doReduce()", class="btn btn-success") Press Me
  div(id="reduce") Reduce the value.
  div(id="result") Count 0 with change 0
  script.
    let count = 20
    let change = -1
    function doReduce() {
      let resultdiv = document.getElementById('result')
      console.log("clicked")
      count = count + change 
      change =change - 1
      resultdiv.innerHTML=`Count ${count} with bump ${change}`
    }